:root{
    --font-size-title: 3rem;
    --color--title: #fff;
}

*{
    background: #3E2552;
    margin: 0;
    font-family: "Inter", sans-serif;
}

body{
    margin: 0;
}

.body{
    padding-left: 3rem;
    padding-right: 6rem;
    display: flex;
    flex-direction: row;
    height: 100%;
}
.containerMenu, .container{
    display: flex;
    min-width: 50%;
    flex-direction: column;
}

.containerMenu{
    display: flex;
    min-width: 50%;
    flex-direction: column;
    position: sticky;
    top: 0;
    height: 100vh;
}

.staticMenu{
    padding-top: 6rem;
}

.container{
    padding-top: 6rem;
}

.title{
    color: var(--color--title);
    font-size: var(--font-size-title);
}

.title_2{
    color:var(--color--title);
    font-size: 1.5rem;
    margin-top: .75rem;
}

.menuSet{
    margin-top: 8rem;
}
.menu{
    color: #fff;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 2rem;
}

.aboutTxt{
    color: #fff;
    font-size: 1.2rem;
}

.blockExperience{
    display: flex;
    flex-direction: column;
    color: #fff;
}

.blockExpe{
    display: flex;
    color: #fff;
}